html {
    &.has-scroll-smooth,
    &:not(.has-scroll-init) {
        overflow: hidden;
    }

    &.has-scroll-dragging {
        user-select: none;
    }

    // https://github.com/locomotivemtl/locomotive-scroll/issues/353
    &.has-scroll-smooth {
        overflow: hidden;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &:not(.has-scroll-smooth) {
        [data-scroll-section] {
            transform: unset !important;
        }
    }
}

body {
    .has-scroll-smooth & {
        overflow: hidden;
    }
}

[data-scroll-container] {
    .has-scroll-smooth & {
        min-height: 100vh;
    }
    [data-scroll-direction='horizontal'] & {
        height: 100vh;
        display: inline-block;
        white-space: nowrap;
    }
}

[data-scroll-section] {
    [data-scroll-direction='horizontal'] & {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        height: 100%;
    }
}
